{% extends 'base.html.twig' %}{% set currentPath = path(app.request.attributes.get('_route'),
    app.request.attributes.get('_route_params')) %}
{% block title %}Documentation!{% endblock %}

{% block body %}
    <nav class="navbar">

        {# --- header --#}

       <div>
           <div class="header">
               <img src="{{ asset('/svg/logo.svg') }}" alt="">
               <span class="jost">Auberjeune</span>
           </div>

           <hr>

           <ul>
               <li>
                   <a href="" class="link {{ currentPath =='/home'? "focus":"" }}">
                       <svg width="27" height="27" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path d="M19 13.498H13V19.498H11V13.498H5V11.498H11V5.49805H13V11.498H19V13.498Z" fill="black" style="fill:black;fill-opacity:1;"/>
                       </svg>
                       <span>New</span>
                   </a>
               </li>
               <li>
                   <a href="" class="link {{ currentPath =='/home'? "focus":"" }}">
                       <svg width="17" height="17" viewBox="0 0 17 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <g clip-path="url(#clip0_463_661)">
                               <path d="M7.4375 4.25V5.3125H4.25V4.25H7.4375ZM4.25 7.4375V6.375H7.4375V7.4375H4.25ZM4.25 9.5625V8.5H6.375V9.5625H4.25ZM3.1875 4.25V5.3125H2.125V4.25H3.1875ZM3.1875 6.375V7.4375H2.125V6.375H3.1875ZM2.125 9.5625V8.5H3.1875V9.5625H2.125ZM1.0625 1.0625V15.9375H6.375V17H0V0H9.25537L13.8125 4.55713V6.375H12.75V5.3125H8.5V1.0625H1.0625ZM9.5625 1.81787V4.25H11.9946L9.5625 1.81787ZM14.875 8.5H17V17H7.4375V8.5H9.5625V7.4375H10.625V8.5H13.8125V7.4375H14.875V8.5ZM15.9375 15.9375V11.6875H8.5V15.9375H15.9375ZM15.9375 10.625V9.5625H8.5V10.625H15.9375Z" fill="black" style="fill:black;fill-opacity:1;"/>
                           </g>
                           <defs>
                               <clipPath id="clip0_463_661">
                                   <rect width="17" height="17" fill="white" style="fill:white;fill-opacity:1;"/>
                               </clipPath>
                           </defs>
                       </svg>

                       <span>Bookings</span>
                   </a>
               </li>
               <li>
                   <a href="" class="link {{ currentPath =='/home'? "focus":"" }}">
                       <svg width="27" height="27" viewBox="0 0 24 25" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <path d="M19 13.498H13V19.498H11V13.498H5V11.498H11V5.49805H13V11.498H19V13.498Z" fill="black" style="fill:black;fill-opacity:1;"/>
                       </svg>
                       <span>New</span>
                   </a>
               </li>
               <li>
                   <a href="" class="link {{ currentPath =='/home'? "focus":"" }}">
                       <svg width="19" height="19" viewBox="0 0 19 19" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <g clip-path="url(#clip0_463_665)">
                               <path d="M4.5 0.499587H7.5V1.49959H4.5C3.5 2.24959 3.5 3.74959 4.5 4.49959H7.5V5.49959H4.5C3.96957 5.49959 3.46086 5.28887 3.08579 4.9138C2.71071 4.53873 2.5 4.03002 2.5 3.49959V2.49959C2.5 1.96915 2.71071 1.46045 3.08579 1.08537C3.46086 0.710301 3.96957 0.499587 4.5 0.499587ZM15.5 4.49959H11.5V5.49959H15.5C16.0304 5.49959 16.5391 5.28887 16.9142 4.9138C17.2893 4.53873 17.5 4.03002 17.5 3.49959V2.49959C17.5 1.96915 17.2893 1.46045 16.9142 1.08537C16.5391 0.710301 16.0304 0.499587 15.5 0.499587H11.5V1.49959H15.5C16.5 2.24959 16.5 3.74959 15.5 4.49959ZM7.5 6.49959H2.5C1.96957 6.49959 1.46086 6.7103 1.08579 7.08537C0.710714 7.46045 0.5 7.96915 0.5 8.49959V9.49959C0.5 10.03 0.710714 10.5387 1.08579 10.9138C1.46086 11.2889 1.96957 11.4996 2.5 11.4996H7.5V10.4996H2.5C1.5 9.74959 1.5 8.24959 2.5 7.49959H7.5V6.49959ZM11.5 6.49959V7.49959H13.5C14.5 8.24959 14.5 9.74959 13.5 10.4996H11.5V11.4996H13.5C14.0304 11.4996 14.5391 11.2889 14.9142 10.9138C15.2893 10.5387 15.5 10.03 15.5 9.49959V8.49959C15.5 7.96915 15.2893 7.46045 14.9142 7.08537C14.5391 6.7103 14.0304 6.49959 13.5 6.49959H11.5ZM7.5 12.4996H5.5C4.96957 12.4996 4.46086 12.7103 4.08579 13.0854C3.71071 13.4604 3.5 13.9692 3.5 14.4996V15.4996C3.5 16.03 3.71071 16.5387 4.08579 16.9138C4.46086 17.2889 4.96957 17.4996 5.5 17.4996H7.5V16.4996H5.5C4.5 15.7496 4.5 14.2496 5.5 13.4996H7.5V12.4996ZM11.5 12.4996V13.4996H16.5C17.5 14.2496 17.5 15.7496 16.5 16.4996H11.5V17.4996H16.5C17.0304 17.4996 17.5391 17.2889 17.9142 16.9138C18.2893 16.5387 18.5 16.03 18.5 15.4996V14.4996C18.5 13.9692 18.2893 13.4604 17.9142 13.0854C17.5391 12.7103 17.0304 12.4996 16.5 12.4996H11.5Z" fill="black" style="fill:black;fill-opacity:1;"/>
                               <rect x="9" width="1" height="19" rx="0.5" fill="black" style="fill:black;fill-opacity:1;"/>
                           </g>
                           <defs>
                               <clipPath id="clip0_463_665">
                                   <rect width="19" height="19" fill="white" style="fill:white;fill-opacity:1;"/>
                               </clipPath>
                           </defs>
                       </svg>

                       <span>Plan</span>
                   </a>
               </li>
               <li>
                   <a href="" class="link {{ currentPath =='/home'? "focus":"" }}">
                       <svg width="15" height="17" viewBox="0 0 15 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <g clip-path="url(#clip0_463_672)">
                               <path d="M7.625 5.6875V8.1875M2.9375 11.3125V8.8125H12.3125V11.3125M5.4375 0.6875H9.8125V5.0625H5.4375V0.6875ZM10.4375 11.9375H14.8125V16.3125H10.4375V11.9375ZM0.4375 11.9375H4.8125V16.3125H0.4375V11.9375Z" stroke="black" style="stroke:black;stroke-opacity:1;" stroke-linecap="round" stroke-linejoin="round"/>
                           </g>
                           <defs>
                               <clipPath id="clip0_463_672">
                                   <rect width="15" height="17" fill="white" style="fill:white;fill-opacity:1;"/>
                               </clipPath>
                           </defs>
                       </svg>

                       <span>Manage</span>
                   </a>
               </li>
               <li>
                   <a href="" class="link {{ currentPath =='/home'? "focus":"" }}">
                       <svg width="16" height="17" viewBox="0 0 16 17" fill="none" xmlns="http://www.w3.org/2000/svg">
                           <g clip-path="url(#clip0_463_676)">
                               <path d="M8.00016 10.1663C8.92064 10.1663 9.66683 9.42015 9.66683 8.49967C9.66683 7.5792 8.92064 6.83301 8.00016 6.83301C7.07969 6.83301 6.3335 7.5792 6.3335 8.49967C6.3335 9.42015 7.07969 10.1663 8.00016 10.1663Z" stroke="black" style="stroke:black;stroke-opacity:1;" stroke-width="1.5"/>
                               <path d="M2.49936 3.39989L2.81186 2.85822C2.68917 2.78744 2.54607 2.76044 2.40602 2.78164C2.26597 2.80283 2.13728 2.87097 2.04103 2.97489L2.49936 3.39989ZM0.833527 6.28655L0.236027 6.10155C0.194229 6.23693 0.199667 6.38249 0.25145 6.51437C0.303232 6.64625 0.398287 6.75662 0.521027 6.82739L0.833527 6.28655ZM0.831861 10.7124L0.519361 10.1707C0.396594 10.2417 0.301593 10.3522 0.249955 10.4843C0.198318 10.6163 0.193112 10.762 0.235194 10.8974L0.831861 10.7124ZM2.49853 13.5991L2.04019 14.0241C2.13645 14.128 2.26514 14.1961 2.40519 14.2173C2.54524 14.2385 2.68833 14.2115 2.81103 14.1407L2.49853 13.5991ZM6.33186 15.8116H5.70686C5.70686 16.1032 5.90936 16.3557 6.19353 16.4207L6.33186 15.8116ZM9.66603 15.8132L9.80519 16.4232C9.94333 16.3917 10.0666 16.3141 10.1549 16.2033C10.2432 16.0925 10.2912 15.9549 10.291 15.8132H9.66603ZM13.5002 13.5999L13.1877 14.1416C13.3104 14.2123 13.4535 14.2393 13.5935 14.2181C13.7336 14.1969 13.8623 14.1288 13.9585 14.0249L13.5002 13.5999ZM15.1652 10.7116L15.7627 10.8966C15.8045 10.7612 15.7991 10.6156 15.7473 10.4837C15.6955 10.3519 15.6004 10.2415 15.4777 10.1707L15.1652 10.7116ZM15.1669 6.28572L15.4794 6.82739C15.6021 6.75646 15.6971 6.64589 15.7488 6.51384C15.8004 6.3818 15.8056 6.23612 15.7635 6.10072L15.1669 6.28572ZM13.5002 3.39822L13.9585 2.97406C13.8623 2.87014 13.7336 2.802 13.5935 2.7808C13.4535 2.75961 13.3104 2.78661 13.1877 2.85739L13.5002 3.39822ZM9.66686 1.18739H10.2919C10.2918 1.04584 10.2437 0.908494 10.1555 0.797831C10.0672 0.687167 9.94402 0.60974 9.80603 0.578222L9.66686 1.18739ZM6.33353 1.18572L6.19436 0.575722C6.05623 0.607271 5.93291 0.684822 5.84464 0.795656C5.75636 0.90649 5.70837 1.04403 5.70853 1.18572H6.33353ZM1.43103 6.47155C1.73433 5.48565 2.25585 4.58075 2.95686 3.82405L2.04019 2.97406C1.21181 3.8682 0.595452 4.93743 0.236861 6.10239L1.43103 6.47155ZM2.04603 11.9374C1.78877 11.4923 1.58194 11.02 1.42936 10.5291L0.236027 10.8982C0.415897 11.4783 0.659906 12.0364 0.963527 12.5624L2.04603 11.9374ZM2.95769 13.1757C2.60872 12.7981 2.30294 12.3828 2.04603 11.9374L0.963527 12.5624C1.26693 13.0884 1.62805 13.5781 2.04019 14.0241L2.95769 13.1757ZM9.52769 15.2049C8.52215 15.4337 7.47798 15.4332 6.47269 15.2032L6.19436 16.4216C7.38278 16.6936 8.61723 16.6945 9.80603 16.4241L9.52769 15.2049ZM14.5694 10.5282C14.2661 11.5141 13.7445 12.419 13.0435 13.1757L13.9602 14.0257C14.7886 13.1316 15.4049 12.0623 15.7635 10.8974L14.5694 10.5282ZM13.9544 5.06239C14.216 5.51961 14.4216 5.98905 14.571 6.47072L15.7644 6.10155C15.5845 5.52151 15.3405 4.96334 15.0369 4.43739L13.9544 5.06239ZM13.0419 3.82405C13.3835 4.19322 13.6902 4.60739 13.9535 5.06239L15.0369 4.43739C14.7332 3.91133 14.371 3.41997 13.9585 2.97406L13.0419 3.82405ZM6.47186 1.79489C7.4774 1.56603 8.52157 1.5666 9.52686 1.79656L9.80603 0.578222C8.6176 0.306153 7.38233 0.305298 6.19353 0.575722L6.47186 1.79489ZM6.95769 2.72656V1.18489H5.70769V2.72656H6.95769ZM4.14603 3.62822L2.81186 2.85822L2.18686 3.94072L3.52019 4.71072L4.14603 3.62822ZM1.85436 9.40239L0.520194 10.1724L1.14519 11.2549L2.47936 10.4849L1.85436 9.40239ZM2.47936 6.51489L1.14603 5.74572L0.521027 6.82905L1.85436 7.59822L2.47936 6.51489ZM6.95853 15.8124V14.2732H5.70853V15.8124H6.95853ZM3.52103 12.2891L2.18686 13.0591L2.81186 14.1424L4.14519 13.3716L3.52103 12.2891ZM13.8135 13.0591L12.4794 12.2891L11.8544 13.3716L13.1877 14.1416L13.8135 13.0591ZM10.2919 15.8141V14.2732H9.04186V15.8149L10.2919 15.8141ZM14.8552 5.74489L13.521 6.51489L14.146 7.59822L15.4794 6.82739L14.8552 5.74489ZM15.4785 10.1716L14.146 9.40156L13.521 10.4849L14.8544 11.2541L15.4785 10.1716ZM10.2919 2.72656V1.18739H9.04186V2.72656H10.2919ZM13.1885 2.85822L11.8544 3.62822L12.4794 4.71155L13.8135 3.94072L13.1885 2.85822ZM9.04186 2.72656C9.04186 4.49072 10.9519 5.59405 12.4794 4.71155L11.8544 3.62822C11.696 3.71963 11.5165 3.76776 11.3336 3.76778C11.1508 3.7678 10.9712 3.71971 10.8129 3.62833C10.6545 3.53696 10.523 3.40552 10.4316 3.24723C10.3401 3.08894 10.2919 2.90937 10.2919 2.72656H9.04186ZM13.521 6.51489C11.9935 7.39739 11.9935 9.60239 13.521 10.4849L14.146 9.40156C13.9877 9.31013 13.8562 9.17863 13.7648 9.02028C13.6734 8.86193 13.6252 8.68231 13.6252 8.49947C13.6252 8.31663 13.6734 8.13701 13.7648 7.97866C13.8562 7.82031 13.9877 7.68882 14.146 7.59739L13.521 6.51489ZM12.4794 12.2891C10.9519 11.4066 9.04186 12.5091 9.04186 14.2732H10.2919C10.2919 14.0904 10.3401 13.9108 10.4316 13.7525C10.523 13.5943 10.6545 13.4628 10.8129 13.3714C10.9712 13.2801 11.1508 13.232 11.3336 13.232C11.5165 13.232 11.696 13.2801 11.8544 13.3716L12.4794 12.2891ZM6.95853 14.2732C6.95853 12.5091 5.04853 11.4066 3.52103 12.2891L4.14519 13.3716C4.30351 13.2801 4.48394 13.232 4.66675 13.232C4.84956 13.232 5.02916 13.2801 5.1875 13.3714C5.34584 13.4628 5.47735 13.5943 5.5688 13.7525C5.66026 13.9108 5.70845 14.0904 5.70853 14.2732H6.95853ZM2.47936 10.4849C4.00686 9.60239 4.00686 7.39739 2.47936 6.51489L1.85436 7.59822C2.0127 7.68965 2.14419 7.82115 2.2356 7.97949C2.32702 8.13784 2.37515 8.31746 2.37515 8.50031C2.37515 8.68315 2.32702 8.86277 2.2356 9.02112C2.14419 9.17946 2.0127 9.31096 1.85436 9.40239L2.47936 10.4849ZM5.70853 2.72656C5.70845 2.90937 5.66026 3.08894 5.5688 3.24723C5.47735 3.40552 5.34584 3.53696 5.1875 3.62833C5.02916 3.71971 4.84956 3.7678 4.66675 3.76778C4.48394 3.76776 4.30435 3.71963 4.14603 3.62822L3.52103 4.71155C5.04853 5.59322 6.95853 4.49072 6.95853 2.72656H5.70853Z" fill="black" style="fill:black;fill-opacity:1;"/>
                           </g>
                           <defs>
                               <clipPath id="clip0_463_676">
                                   <rect width="16" height="17" fill="white" style="fill:white;fill-opacity:1;"/>
                               </clipPath>
                           </defs>
                       </svg>

                       <span>Settings</span>
                   </a>
               </li>
           </ul>

       </div>
        <div>

        </div>

    </nav>
{% endblock %}